<div class="container">
    <h1>Mass</h1>
    <div class="form">
        <div class = "input">
            <input type="text" #massNewNumber [(ngModel)]="massNumber" (input)="calculateMass(massNewNumber.value, massFirst, massSecond);"/>
            <select [(ngModel)]="massFirst" (change)="calculateMass(massNewNumber.value, massFirst, massSecond);">
                <option>Ounces</option>
                <option>Pounds</option>
                <option>Stones</option>
                <option>Long Tons</option>
                <option>Short Tons</option>
                <option>Milligrams</option>
                <option>Grams</option>
                <option>Kilograms</option>
                <option>Metric Tonnes</option>
            </select>
        </div>
        <div class="equals">
            <span class="equals">=</span>
        </div>
        <div class="output">
            <input [(ngModel)]="massAnswer" readonly/>
            <select [(ngModel)]="massSecond" (change)="calculateMass(massNewNumber.value, massFirst, massSecond);">
                <option>Ounces</option>
                <option>Pounds</option>
                <option>Stones</option>
                <option>Long Tons</option>
                <option>Short Tons</option>
                <option>Milligrams</option>
                <option>Grams</option>
                <option>Kilograms</option>
                <option>Metric Tonnes</option>
            </select>
        </div>
    </div>
</div>