/* You can add global styles to this file, and also import other style files */
#particles-js{
    height: 75%;
}
li a{
    color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color:  #5090a8;
}