.container{
    margin: 80px 200px 0px 200px;
}
h1{
    text-align: center;
}
.form{
    text-align: center;
}
.input{
    display: inline-block;
    width: 45%;
    float: left;
}
.output{
    display: inline-block;
    width: 45%;
    float: right;
}
.equals{
    margin-top: 10px;
    display: inline-block;
    width: 10%;
    font-size: 35px;
    text-align: center;
}
.input input{
    height: 35px;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
.input input:focus{
    outline: none;
}
.input select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
.input select:focus{
    outline: none;
}
.output input{
    height: 35px;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
.output input:focus{
    outline: none;
}
.output select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
}
.output select:focus{
    outline: none;
}