<div class="container">
    <h1>Temperature</h1>
    <div class="form">
        <div class = "input">
            <input type="text" #tempNewNumber [(ngModel)]="tempNumber" (input)="calculateTemp(tempNewNumber.value, tempFirst, tempSecond);"/>
            <select [(ngModel)]="tempFirst" (change)="calculateTemp(tempNewNumber.value, tempFirst, tempSecond);">
                <option>Kelvin</option>
                <option>Celcius</option>
                <option>Fahrenheit</option>
            </select>
        </div>
        <div class="equals">
            <span class="equals">=</span>
        </div>
        <div class="output">
            <input [(ngModel)]="tempAnswer" readonly/>
            <select [(ngModel)]="tempSecond" (change)="calculateTemp(tempNewNumber.value, tempFirst, tempSecond);">
                <option>Kelvin</option>
                <option>Celcius</option>
                <option>Fahrenheit</option>
            </select>
        </div>
    </div>
</div>
